
params {
    // new params
    tumor_bam     = "/data_5t/lilin/products/ukb_tools/CNVkit/test_tumor_sorted.bam"
    normal_bam    = "/data_5t/lilin/products/ukb_tools/CNVkit/test_normal_sorted.bam"
    ref_fa        = "/data_5t/lilin/products/ukb_tools/CNVkit/Homo_sapiens_assembly38.fasta"
    bed_file      = "/data_5t/lilin/products/ukb_tools/CNVkit/wgs_calling_regions_noseconds.hg38.bed"
    anno_file     = "/data_5t/lilin/products/ukb_tools/CNVkit/gencode.v44.annotation.gff3"
    threads_num   = 1
    outdir        = "results"
    tracedir      = "${params.outdir}/pipeline_info"
}

profiles {
    debug { process.beforeScript = 'echo $HOSTNAME' }

    singularity {
        singularity.autoMounts = true
        singularity.enabled    = true
        charliecloud.enabled   = false
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
    }
}

process.shell = ['/bin/bash', '-euo', 'pipefail']

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')

timeline {
    enabled = true
    file    = "${params.tracedir}/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.tracedir}/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.tracedir}/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.tracedir}/pipeline_dag_${trace_timestamp}.html"
}
